.home-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #5a6e7e;
}
nav {
  display: flex;
}
ul li {
  display: inline;
  margin-right: 20px;
}
